@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto+Slab:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e8e8e8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.nav {
  background: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(231, 231, 231);
  margin-bottom: 30px;
}

.nav-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  text-decoration: none;
  margin-right: 30px;
  color: #379cf6;
}

.links a {
  text-decoration: none;
  color: rgb(98, 98, 98);
  margin-left: 10px;
}

.links a:hover {
  color: #121212;
  transition: 0.3s ease-in-out;
}

.bi-person-circle {
  font-size: 35px;
  color: #379cf6;
}

table {
  margin: 50px;
}

.section {
  margin: 30px;
  border: 1px solid #000;
  padding: 30px;
}

.separator {
  margin: 50px;
  border-bottom: 1px solid #c4c4c4;
}

form {
  margin: 50px;
}

.form-lead {
  color: #9c9c9c;
}

.form-sort {
  display: flex;
  justify-content: space-between;

  font-weight: bold;
}

.input-title {
  padding: 15px;
  flex: 2;
  font-size: 16px;
  color: #c4c4c4;
  background: #fff;
  border: #c4c4c4;
  margin-right: 50px;
}

.input-title::placeholder {
  color: #c4c4c4;
  font-family: 'Open Sans', sans-serif;
}

.input-cate {
  flex: 1;
  padding: 15px;
  width: 300px;
  color: #9c9c9c;
  background: #fff;
  border: #c4c4c4;
  margin-right: 50px;
  font-size: 16px;
}

.input-cate::placeholder {
  color: #c4c4c4;
  font-family: 'Open Sans', sans-serif;
}

.input-cat {
  font-size: 16px;
}

.input-title,
.input-cate:focus {
  outline: none;
}

input#title,
select#categories,
.submit {
  border-radius: 5px;
}

.submit {
  color: #fff;
  border: none;
  background: #379cf6;
  flex: 1;
  font-weight: bold;
}